COMPOSE_PROJECT_NAME=fucheng-home
FUCHENG_IMAGE=momonong/fucheng-players-system@sha256:9d4537f79a20e358b50d0362c1348ca5ad77b4952f789c9b7b92868c7e5ac10b
FUCHENG_PUBLIC_ORIGIN=https://momonong.me
FUCHENG_BASE_PATH=/fucheng
FUCHENG_PROXY_KIND=cloudflare
# Recheck LAN/VPN/Docker subnets before using these example addresses.
FUCHENG_SUBNET=10.203.32.0/24
FUCHENG_APP_IP=10.203.32.2
FUCHENG_HOME_GATEWAY=10.203.32.1
FUCHENG_HOME_PORT=8064
FUCHENG_BACKUP_KEEP=8
FUCHENG_TURNSTILE_SITEKEY=REPLACE_WITH_PUBLIC_SITEKEY
FUCHENG_TURNSTILE_SECRET_FILE=REPLACE_WITH_PROTECTED_ABSOLUTE_PATH
